.card-posts {
  margin: 10px auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;

  .card-top {
    padding: 10px 1%;
    border-bottom: 1px solid #f7f2e7;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;

    p {
      margin-bottom: 0;
    }

    .card-top-left-section {
      display: flex;
      align-items: center;
      width: 70%;
      .post-user {
        display: flex;
        flex-direction: column;
        .fake-id {
          font-size: 0.9rem;
          margin: 0;
          cursor: pointer;
        }
      }
    }

    .card-top-right-section {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      width: 29%;
      align-items: center;
      font-size: 1.2rem;
    }
  }

  .body {
    background: white;
    border-bottom: 1px solid #f7f2e7;

    h2 {
      font-size: 1.7rem;
      font-family: "PT Sans Narrow", sans-serif;
    }

    .hash-tags {
      display: flex;
      flex-wrap: wrap;
      white-space: nowrap;
      width: 100%;

      .hash-tag {
        cursor: pointer;
        font-weight: bold;
        margin: 0 2% 0 0;
        font-size: 1rem;
        color: silver;
      }
    }

    .single-post-context {
      font-size: 1.2rem;
      color: red;
      margin: 10px 0;
      line-height: 28px;
    }
  }
  .bottom-section {
    display: flex;
    // width: 100%;
    padding: 2% 0;

    .fa-comment {
      cursor: pointer;
      font-size: 20px;
      margin: 1% 3%;
      width: 40%;
    }
  }
}

.title,
.comment {
  color: black;
  text-decoration: none;
}

.title:hover,
.comment:hover {
  color: black;
  text-decoration: none;
}

.pagination {
  margin: 10px auto;
  width: 600px;
}

.cards:hover {
  border: 1px solid black;
}
.posts {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  margin-top: 60px;
  .notification-bookmark {
    padding: 3%;
    margin-top: 10px;
    background-color: white;
    p {
      text-align: center;
    }
  }
}
@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 600px) {
  .posts {
    display: block;
    margin: 65px auto;
    width: 100%;
    .card-posts {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 2% auto;
    }
  }
}
