.comment-section {
  padding: 5px 0;
  background-color: white;
  .comment {
    margin: 10px 10px;
    border: 1px solid silver;
    border-radius: 2px;
    padding: 10px 20px;
    .comment_user {
      display: flex;
      align-items: center;
      p {
        margin: 10px 10px;
        width: 100%;
        font-size: 15px;
      }
      .setting {
        display: flex;
        justify-content: flex-end;
        width: 80%;
      }
    }
    p {
      margin: 10px 0;
    }
    .comments {
      font-family: "Raleway", sans-serif;
    }
  }
}

.comment-form {
  background-color: white;
  padding: 0px 15px;

  h3 {
    font-size: 20px;
    margin: 12px 5px;
  }
  .button-area {
    display: flex;
    justify-content: flex-end;
    .comment-post {
      width: 100px;
    }
  }
}
