.single-page {
  display: flex;
  justify-content: space-between;

  .go-back {
    width: 28%;
    cursor: pointer;
    height: auto;
  }
  .space {
    width: 5%;
  }

  .hashtags {
    width: 33%;
  }
}
