.card {
  margin: 10px auto;
  width: 700px;
  // padding: 30px 30px;
  background-color: white;

  .card-top {
    padding: 3% 1%;
    border-bottom: 1px solid #f7f2e7;
    display: flex;
    .title {
      text-decoration: none;
      color: black;
    }

    .likes {
      margin-left: 400px;
      width: 100%;
      font-family: "Yanone Kaffeesatz", sans-serif;
      font-size: 1.2rem;

      .like {
        padding: 0 10%;
      }

      .fas,
      .far {
        cursor: pointer;
      }
      .fa-bookmark {
        color: navy;

        margin-left: 10px;
      }
    }
  }
  .fake-id {
    font-size: 1rem;
  }
  .body {
    background: white;
    border-bottom: 1px solid #f7f2e7;

    .hash-tags {
      display: flex;
      // justify-content: flex-end;
      // flex-direction: row;
      flex-wrap: wrap;
      white-space: nowrap;
      width: 100%;

      .hash-tag {
        cursor: pointer;
        font-weight: bold;
        margin: 0 2% 0 0;
        font-size: 1rem;
        color: silver;
      }
    }
  }
  .bottom-section {
    display: flex;
    // width: 100%;
    padding: 2% 0;

    .fa-comment {
      cursor: pointer;
      font-size: 20px;
      margin: 1% 3%;
      width: 40%;
    }
  }
}

.title,
.comment {
  color: black;
  text-decoration: none;
}

.title:hover,
.comment:hover {
  color: black;
  text-decoration: none;
}

.pagination {
  margin: 10px auto;
  width: 700px;
}
