.profile {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;

  .image-profile-top-section {
    width: 700px;
    height: 9vh;
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 0 auto;

    .image {
      display: absolute;
      margin: 0 auto;
      margin-top: -50px;
      border: 10px solid #e0ece4;
    }
  }
  .user-information {
    display: flex;
    width: 700px;
    background-color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    .user-detail {
      width: 300px;
      margin: 0 auto;
      // background-color: red;
    }
    h2 {
      font-size: 3rem;
      margin: 10px 0;
      font-family: "PT Sans Narrow", sans-serif;
    }
    p {
      font-size: 1.2rem;
      margin: 12px 0;
      color: #404040;
    }

    .follow-list {
      display: flex;
      p {
        margin-right: 5px;
        margin-left: 5px;
      }
    }
    .profile-follow {
      display: flex;
      margin: 0 auto;
      font-size: 20px;
    }
    .profile-edit {
      margin: 20px 0;
      font-size: 25px;
    }
  }
  @media only screen and (max-width: 600px) {
    .image-profile-top-section {
      width: 100%;
    }
    .user-information {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 600px) {
  .card-profile {
    width: 100%;
  }

  .profile-mobile {
    margin: 0 auto 80px auto;
  }
}
.profile-picture-setting {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.following-list {
  display: flex;
  // background-color: red;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 10px;

  .name-list {
    display: flex;

    align-items: center;
    padding: 10px;
  }
}
