.search-results {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  //   flex-wrap: wrap;
  //   width: 500px;
  .search {
    margin: 10px 10px;
    width: 500px;
    display: block;
    .search-card {
      padding: 3px 0;
      //   width: 500px;
      background-color: white;
      h2 {
        padding: 10px;
        font-size: 1.5rem;
      }
      .card-top-left-section {
        display: flex;
        margin: 6px 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .mobile-search {
    display: flex;
    background-color: white;
    justify-content: center;
    width: 90%;
    border: 1px solid #f7f2e7;
    border-radius: 5px;
    padding: 5px 15px;
    margin: 70px auto 0 auto;
    .search-input {
      width: 100%;
    }
  }
  .mobile-search input,
  .mobile-search button,
  .mobile-search:active,
  :focus {
    border: none;
    // background: none;
  }

  .mobile-search button:focus,
  .mobile-search input:focus {
    outline: none !important;
    outline-offset: none !important;
  }
  .search-posts {
    margin: 10px auto 40px auto;
    // background-color: ;
  }

  .search-results {
    margin: 0 0 40px 0;
    border: 1px solid #f7f2e7;
    .search {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.search-page {
  display: flex;

  .top-posts {
    // position: absolute;
    // top: 0;
    // right: 0;
    // margin: 70px 130px;
  }
}

.custom-switch {
  padding-left: 0;
}
