.search-results {
  margin: 0 auto;
  margin-top: 60px;
  display: flex;
  //   flex-wrap: wrap;
  //   width: 500px;
  .search {
    margin: 10px 10px;
    width: 500px;
    display: block;
    .search-card {
      padding: 3px 0;
      //   width: 500px;
      background-color: white;
      h2 {
        padding: 10px;
        font-size: 1.5rem;
      }
      .card-top-left-section {
        display: flex;
        margin: 6px 0;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .search-results {
    margin: 50px 0;
    .search {
      width: 100%;
      margin: 10px 0;
    }
  }
}

.search-page {
  display: flex;

  .top-posts {
    // position: absolute;
    // top: 0;
    // right: 0;
    // margin: 70px 130px;
  }
}

.custom-switch {
  padding-left: 0;
}
