.top-posts {
  margin: 10px 20px;
  height: 90vh;

  .top-hash-card,
  .top-post-card {
    width: 300px;
    background-color: white;
    margin-bottom: 10px;
    padding: 10px 0;

    .card-top {
      display: flex;
      padding: 5px 0 0 0;
      justify-content: center;
      align-items: center;
    }
    .card-bottom {
      margin: 10px;
      text-decoration: none;
      h6 {
        color: black;
      }
      h6:hover {
        color: black;
        text-decoration: none;
      }
      p {
        margin: 5px 0 0 0;
        color: silver;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .top-posts {
    display: none;
    background-color: red;
    .top-post-card,
    .top-hash-card {
      display: none;
    }
  }
  html,
  body {
    overflow-x: hidden; // This needs to be hidden since I do not want unwanted space
  }
}

.stick {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 70px;
}
