.card {
  width: 700px;
  .text-area {
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .text-area:focus,
  .title-area:focus {
    outline: none !important;
    outline-offset: none !important;
    border: none;

    border-color: none !important;
    box-shadow: none !important;
  }

  .text-area::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
}

.buttons {
  display: flex;
  margin: 10px auto;
  width: 700px;
}

.feeling-modal {
  width: 30%;
  margin: -20px 0 0 10px;
}

.feeling-body {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  .feeling {
    width: 49%;
    border: 2px solid $main-green;
    padding: 2%;
    margin: 2px;
    border-radius: 10px;
    font-weight: bold;
    color: white;
    background-color: $main-green;
  }
  .feeling:hover {
    background-color: green;
  }
}
