.upload-card,
.update-card {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2%;
  justify-content: center;
  margin: 1% auto;

  .text-area {
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .title-area {
    height: 60px;
    line-height: 50px;
    // word-break: break-all; NOT GOOD
  }
  .hash-area {
    height: 30px;
  }

  .text-area:focus,
  .title-area:focus {
    outline: none !important;
    outline-offset: none !important;
    border: none;
    overflow-wrap: break-word;

    border-color: none !important;
    box-shadow: none !important;
  }

  .text-area::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
    overflow-wrap: break-word;
  }
}

.buttons {
  display: flex;
  margin: 10px auto;
  width: 600px;
}

.feeling-modal {
  width: 50%;
  margin: 0 0 10px;
}
.feeling-box {
  width: auto;
  .feeling-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .feeling {
      width: 48%;
      border: 2px solid $main-green;
      padding: 2%;
      margin: 2px;
      border-radius: 10px;
      font-weight: bold;
      color: white;
      background-color: $main-green;
    }
    .feeling:hover {
      background-color: green;
    }
  }
}

.form {
  margin-top: 80px;
}

@media only screen and (max-width: 600px) {
  .form {
    margin: 70px auto 70px auto;
    .upload-card,
    .update-card {
      // background-color: red;
      width: 100%;

      .text-area::placeholder {
        font-family: "Raleway", sans-serif;
        font-size: 1rem;
        word-wrap: break-word;
        // width: 100%;
      }
    }
    .buttons {
      width: 100%;
    }
    .feeling-box {
      // width: 80%;
      // margin: 0 auto;
      .feeling-body {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        .feeling {
          width: 98%;
        }
      }
    }
  }
}
