.upload-card {
  width: 600px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2%;
  justify-content: center;
  margin: 1% auto;
  .text-area {
    border: none;
    font-family: "Raleway", sans-serif;
    font-size: 1.5rem;
  }
  .hashtags-area {
  }
  .text-area:focus,
  .title-area:focus {
    outline: none !important;
    outline-offset: none !important;
    border: none;

    border-color: none !important;
    box-shadow: none !important;
  }

  .text-area::placeholder {
    font-family: "Raleway", sans-serif;
    font-size: 1rem;
  }
}

.buttons {
  display: flex;
  margin: 10px auto;
  width: 600px;
}

.feeling-modal {
  width: 35%;
  margin: -20px 0 0 10px;
}
.feeling-box {
  width: auto;
  .feeling-body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

    .feeling {
      width: 48%;
      border: 2px solid $main-green;
      padding: 2%;
      margin: 2px;
      border-radius: 10px;
      font-weight: bold;
      color: white;
      background-color: $main-green;
    }
    .feeling:hover {
      background-color: green;
    }

    @media only screen and (max-width: 600px) {
      .feeling {
        width: 98%;
      }
    }
  }
}
