@import "base/variables";

@import "components/login";
@import "components/navbar";
@import "components/home";
@import "components/all_posts_view";
@import "components/top_posts";
@import "components/home_single_post";
@import "components/single_post";
@import "components/profile";
@import "components/comment";
@import "components/upload";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

#dropdown-basic {
  background: none;
  border: none;
  margin: 0 -10px;
}

#dropdown-basic:focus {
  border-color: none !important;
  box-shadow: none !important;
}
#dropdown-basic::after {
  display: none !important;
}
