// Colors
$main-green: #32cd32;
$blue-green: #0f7585;
$white-smoke: #fafafa;
$pure-white: #fff;
$silver: #e9ecef;
$dark-gray: #999999;
$black: #000;
$pumpkin: #f1651f;
$red: #b91313;

// Color assignments
$main-bg-color: $pure-white;
$accent-bg-color: $pure-white;
$accent-font-color: $main-green;
$main-border: $silver;
$outline: $dark-gray;
$main-font: $black;
$secondary-accent: $pumpkin;

// Fonts
$accent-font: Megrim, cursive;
$content-font: Roboto, sans-serif;
$title-font: "Lobster", cursive;
